[submodule "puppet/modules/collectd"]
	path = puppet/modules/collectd
	url = https://github.com/pdxcat/puppet-module-collectd.git
[submodule "puppet/modules/graphite"]
	path = puppet/modules/graphite
	url = https://github.com/echocat/puppet-graphite.git
